.label-input-container {
    display: flex;
    align-items: center;
    margin-left: 6%;
    margin-right: 20%;
    margin-top: 30px;
  }
  
  .label-text {
    flex: 1;
    text-align: left;
  }
  
  .label-field {
    flex: 2;
  }
  
  .label-input {
    height: 30px;
  }
  